version: '3'
services:
  libre-postgres:
    build:
      context: ./db
    restart: always
    container_name: libre-postgres
    hostname: libre-postgres
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: zc504879189..
      POSTGRES_DB: libre_spider
    volumes:
      - ./postgresql/data:/var/lib/postgresql/data
      - ./postgresql/conf/postgresql.conf:/etc/postgresql/postgresql.conf
      - ./postgresql/conf/pg_hba.conf:/etc/postgresql/pg_hba.conf
    command: [ "postgres", "-c", "config_file=/etc/postgresql/postgresql.conf" ]
    ports:
      - "2345:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - libre_default

  libre-redis:
    image: redis:7.0.0
    ports:
      - "9736:6379"
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - ./redis/conf:/usr/local/etc/redis/redis.conf
      - ./redis/data:/data
    restart: always
    container_name: libre-redis
    hostname: libre-redis
    networks:
      - libre_default
  libre-es:
    image: elasticsearch:8.6.0
    container_name: libre-es
    hostname: libre-es
    restart: always
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=true
      - ELASTIC_PASSWORD=${ES_PASSWORD:-elastic}
      - ES_JAVA_OPTS=${ES_JAVA_OPTS:--Xms512m -Xmx512m}
    volumes:
      - ./elasticsearch/data:/usr/share/elasticsearch/data
      - ./docker/elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
    ports:
      - "9201:9200"
    networks:
      - libre_default

  libre-video:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MAVEN_USERNAME: ${MAVEN_USERNAME}
        MAVEN_PASSWORD: ${MAVEN_PASSWORD}
    volumes:
      - ./video:/app/video
      - ./app/config:/app/config
    restart: always
    ports:
      - "9000:9000"
    container_name: video
    hostname: libre-video
    depends_on:
      libre-postgres:
        condition: service_healthy
      libre-es:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: "prod"
      DB_URL: "${DB_URL:-jdbc:postgresql://libre-postgres:5432/libre_spider}"
      DB_USERNAME: "${DB_USERNAME:-postgres}"
      DB_PASSWORD: "${DB_PASSWORD:-postgres}"
      REDIS_HOST: "${REDIS_HOST:-libre-redis}"
      REDIS_PASSWORD: "${REDIS_PASSWORD:-}"
      ES_URIS: "${ES_URIS:-http://libre-es:9200}"
      ES_USERNAME: "${ES_USERNAME:-elastic}"
      ES_PASSWORD: "${ES_PASSWORD:-elastic}"
      VIDEO_DOWNLOAD_PATH: "${VIDEO_DOWNLOAD_PATH:-/app/video/}"
    networks:
      - libre_default

  libre-frontend:
    build:
      context: ./frontend
    restart: always
    container_name: libre-frontend
    hostname: libre-frontend
    ports:
      - "3000:80"
    depends_on:
      - libre-video
    networks:
      - libre_default

networks:
  libre_default:
    driver: bridge

