server:
  port: 9870

spring:
  application:
    name: video-spider
  servlet:
    multipart:
      max-file-size: 512MB
      max-request-size: 512MB
  codec:
    max-in-memory-size: 100MB
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false
  liquibase:
    change-log: classpath:/db/changelog/changelog-master.xml

mybatis-plus:
  global-config:
    banner: false
    db-config:
      id-type: assign_id
      insert-strategy: not_null
      update-strategy: not_null
      table-underline: true
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false

jasypt:
  encryptor:
    algorithm: PBEWithMD5AndDES
    iv-generator-classname: org.jasypt.iv.NoIvGenerator

logging:
  level:
    org.elasticsearch.client: error

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://127.0.0.1:5432/libre_video
    username: libre
    password: 123456
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      connection-timeout: 1000000
      maximum-pool-size: 5
      max-lifetime: 1800000
      minimum-idle: 1
  elasticsearch:
    uris: http://127.0.0.1:9200
  threads:
    virtual:
      enabled: true
  data:
    redis:
      host: 127.0.0.1
      port: 6379

video:
  download-path: ./video/
  ffmpeg-path: /usr/local/Cellar/ffmpeg/5.0.1/bin/
  mp4box-path: MP4Box/

---
spring:
  config:
    activate:
      on-profile: prod
    location: ../config/application.yml
  batch:
    jdbc:
      initialize-schema: always
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL:jdbc:postgresql://libre-postgres:5432/libre_spider}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      connection-timeout: 1000000
      maximum-pool-size: 5
      max-lifetime: 1800000
      minimum-idle: 1
  elasticsearch:
    username: ${ES_USERNAME:elastic}
    password: ${ES_PASSWORD:elastic}
    uris: ${ES_URIS:http://libre-es:9200}
    connection-timeout: 5s
    socket-timeout: 60s
  data:
    redis:
      password: ${REDIS_PASSWORD:}
      host: ${REDIS_HOST:libre-redis}
  liquibase:
    change-log: classpath:/db/changelog/changelog-master.xml

video:
  download-path: ${VIDEO_DOWNLOAD_PATH:/app/video/}
