<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
 <div>
    <div >
        <el-row :gutter="20" >
            <el-col :span="8" v-for="(item, index) in videoList" :key="index">
              <div style="margin-bottom: 20px">
                  <el-card :body-style="{ padding: '0px' }">
                      <img :src="item.image" class="image">
                      <div style="padding: 14px;">
                          <el-link type="info" @click="open(item.url)">{{item.title}}</el-link>

                      </div>
                  </el-card>
              </div>
            </el-col>
        </el-row>
        <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="page"
            :page-sizes="[10, 50, 100, 300]"
            :page-size="size"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
        </el-pagination>
    </div>
 </div>
</div>
</body>


<script>
    axios.defaults.crossDomain = true
    //Access-Control-Allow-Origin 指向前端 ip:port

    // Set config defaults when creating the instance
    const request = axios.create({
        baseURL: 'http://127.0.0.1:9870/video/',
        headers: {'Content-Type': 'application/x-www-form-urlencoded'},
        crossDomain: true
    });
    axios.defaults.crossDomain = true
    //Access-Control-Allow-Origin 指向前端 ip:port
    axios.defaults.headers.common['Access-Control-Allow-Origin'] = 'http://127.0.0.1:9870';



    new Vue({
        el: '#app',
        data:  {
            visible: false,
            currentDate: new Date(),
            page: 1,
            size: 20,
            title: undefined,
            total: 0,
            videoList: []
        },
        created() {
            this.videoList = this.getVideoList()
        },
        methods: {
            open(url){
                console.log(url)
                window.open(url)
            },
            getVideoList() {
                let formData = new FormData();
                formData.append('current', this.page);
                formData.append('size', this.size);
                // 发送 POST 请求
             request.post("/list", formData).then(res => {
                 this.videoList = res.data.data.content
                 this.total = res.data.data.totalElements
             })
            },
            handleSizeChange(val) {
                this.size = val
                document.documentElement.scrollTop = 0;
                this.getVideoList()
            },
            handleCurrentChange(val) {
                document.documentElement.scrollTop = 0;
                this.page = val
                this.getVideoList()
            }
        }
    })
</script>
</html>
